<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
            <div class = "container-fluid ">
              <div class="row">
               <div class="col-sm-8">
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item" style="position: relative; left: 200px;">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                             
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>

                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product.id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" value="<%= product.id %>" name="productId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                              
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
         </div></div></div>
            </main>
            <footer class="container-fluid text-center" style="position: relative; top: 25px;">
                <p>Nikhil's Store Copyright (C)</p>  
                <form class="form-inline" action="">Get deals:
                  <input type="email" class="form-control" size="50" placeholder="Email Address">
                  <button type="button" class="btn btn-danger">Sign Up</button>
                </form>
              </footer>
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
              <a href="https://mdbootstrap.com/"> mng.com</a>
            </div>
          </footer>
        
           
            <%- include('../includes/end.ejs') %>